@font-face {
  font-family: 'Poppins';
  src: url('./utilities/fonts/Poppins/Poppins-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./utilities/fonts/Poppins/Poppins-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./utilities/fonts/Poppins/Poppins-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./utilities/fonts/Poppins/Poppins-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Archivo';
  src: url('./utilities/fonts/Archivo-VariableFont_wdth\,wght.ttf')
}

* {
  font-family: 'Poppins', sans-serif !important;
}

button {
  cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/*---------------------------Header-----------------------------*/

.header {
  display: flex;
  justify-content: space-between;
  background-color: #0f0f59;
  height: 4rem;
  border-bottom: 3px solid rgba(0, 0, 0, 0.596);
  border-bottom-style: outset;
}

.page-logo {
  height: 100%;
}

nav {
  display: flex !important;
  justify-content: space-around;
  width: 85%;
}

/*---------------------------Dropdown Menus-----------------------------*/
.nav-dropdown {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-dropdown a,
.nav-dropdown li {
  color: #fff;
  text-decoration: none;
}

.nav-dropdown ul {
  position: absolute;
  top: 4rem;
  display: none;
  width: 12rem;
  border: solid 1px black;
  z-index: 100;
}

.dropdown-menu li {
  width: 100%;
  height: 100%;
  background-color: #0f0f59;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  box-shadow: 5px 5px 5px black;
}

.shop-links .dropdown-menu li:hover,
.header-icons .nav-dropdown li a:hover {
  background-color: #3e3e85;
}

.nav-dropdown:hover > ul {
  display: block;
}

.shop-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.shop-links .nav-dropdown {
  width: 8rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem;
}

.shop-links .nav-dropdown a {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
}

.shop-links .nav-dropdown:hover {
  background-color: #3e3e85;
}

.header-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

.header-icons a {
  height: 60%;
}

.header-icons .nav-dropdown li {
  padding: 0;
}
.header-icons .nav-dropdown a,
.header-icons .nav-dropdown span {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.header-icons .dropdown-menu .user-menu-name {
  background-color: #2b2b2b;
  padding: .3rem 0;
}

.nav-dropdown:hover > a > svg {
  fill: red;
}

/*---------------------------Searchbar-----------------------------*/

.search-bar {
  width: 20%;
  display: flex;
  align-items: center;
  align-self: center;
  height: 1.5rem;
  border-radius: 1.25rem;
  padding: .5rem;
  padding-left: 0;
  background-color: lightgrey;
  margin-left: 2rem;
}

.search-btn {
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  border: none;
  border-radius: 1.25rem;
  background-color: lightgrey;
}

.search-btn:hover {
  background-color: gray;
}

.search-btn img {
  height: 60%;
}

.search-bar input {
  height: 100%;
  width: 100%;
  padding-left: 3rem;
  border: none;
  background-color: rgba(255, 182, 193, 0);
  font-size: 1rem;
}

.search-bar input:focus {
  outline: none;
  border: none;
}

/*---------------------------Startpage-----------------------------*/
.startpage-background {
  height: 50rem;
  background-image: url('./utilities/images/backgrounds/startpage-background.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startpage-join-container {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
  width: 25%;
  padding: 4rem 0;
  background-color: #0f0f59;
  color: white;
  box-shadow: 5px 5px 5px black;
  
}

.startpage-join-container h2 {
  width: 100%;
  text-align: center;
  font-size: 1.75rem;
}

.startpage-join-container button {
  margin: 2rem 0;
  height: 2.5rem;
  width: 8rem;
  font-size: 1.5rem;
  box-shadow: 3px 3px 5px black;
}

.startpage-join-container button:active {
  transform: translate(3px, 3px);
  box-shadow: none;
}

.startpage-join-container button a {
  color: black;
  text-decoration: none;
}

.startpage-join-container p {
  font-size: .75rem;
  text-align: center;
  width: 100%;
}

.startpage-join-container a {
  color: red;
}

/*---------------------------Register-----------------------------*/
.register-page,
.login-page {
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-page {
  background-image: url('./utilities/images/backgrounds/register-background.jpg');
  background-size: cover;
  background-position: center;
}

.register-form,
.login-form {
  height: 93%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  width: 20%;
  background-color: white;
  border-radius: 1rem;
  border: 1px solid black;
}

.register-form h1,
.login-form h1 {
  width: 100%;
  text-align: center;
  margin: 1rem;
  font-size: 3rem;
  font-family: 'Archivo';
  text-decoration: underline;
}

.third-party-login-btn {
  margin: 1rem ;
  height: 3rem;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #0f0f59;
  border-radius: 1.5rem;
  background-size: 2.5rem;
  background-position: center left .25rem;
  background-repeat: no-repeat;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 2px 2px 5px black;
}

.third-party-login-btn:hover {
  background-color: rgb(232, 240, 254);
}

.third-party-login-btn:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}

.third-party-login-btn span {
  margin-left: 2rem;
  text-align: center;
  color: black;
  text-decoration: none;
}

#google-log {
  background-image: url('./utilities/images/logos/google-logo.png');
}

#facebook-log {
  background-image: url('./utilities/images/logos/facebook-logo.png');
}

.or-divider {
  width: 90%;
  text-align: center;
  border-top: 3px solid #8d8d8d;
  margin-top: 2rem;
}

.or-divider span {
  position: relative;
  top: -.9rem;
  background-color: white;
  padding: .5rem 1rem;
  color: #8d8d8d;
  font-size: 1.5rem;
}

.input-container {
  width: 70%;
  margin: .5rem 0;
}

.input-container input {
  height: 2rem;
  width: 100%;
  padding-top: .7rem;
  font-family:Arial, sans-serif !important;
}

.input-container label {
  position: absolute;
  margin: 1rem .5rem;
  font-size: 1.15rem;
  color: #696969;
  transition: all 0.2s ease-out;
}

.input-container:focus-within > label  {
  margin: .25rem .25rem;
  font-size: .75rem;
}

.input-filled {
  margin: .25rem .25rem !important;
  font-size: .75rem !important;
}

.submit-btn {
  width: 40%;
  margin: 1rem 30%;
  padding: .5rem 0;
  font-size: 1.5rem;
  background-color: #0f0f59;
  color: white;
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 3px 3px 5px black;
}

.submit-btn:hover {
  background-color: #3e3e85;
}

.submit-btn:active {
  transform: translate(3px, 3px);
  box-shadow: none;
}

/*---------------------------Login-----------------------------*/

.login-page {
  background-image: url('./utilities/images/backgrounds/login-background.jpg');
  background-size: cover;
  background-position: center;
}

.login-form {
  height: 70%;
}

.login-form .submit-btn {
  margin-top: 1.5rem;
}

.login-form p,
.register-form p {
  font-size: .75rem;
  margin: 1rem;
}

/*---------------------------Homepage-----------------------------*/

.homepage-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.homepage-container h2 {
  width: 30%;
  text-align: center;
  font-size: 2.5rem;
  padding: 2rem;
  background-color: #0f0f59;
  color: white;
}

.large-shop-container,
.small-shop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  border: 3px solid black;
  box-shadow: 5px 5px 5px black;
  
}

.large-shop-container:hover,
.small-shop-container:hover {
  filter: contrast(150%);
}

.large-shop-container {
  width: 30%;
  height: 30rem;
  margin: 5rem;
}

.large-shop-container,
.small-shop-container a {
  font-size: 3rem;
  color: white;
  text-shadow: 3px 3px 5px black;
  text-decoration: none;
}

#shop-all {
  width: 75%;
  height: 20rem;
  margin-bottom: 0;
}

#shop-equipment {
  background-image: url('./utilities/images/backgrounds/equipment-background.jpeg');
}

#shop-apparel {
  background-image:  url('./utilities/images/backgrounds/apparel-background.jpg');
}

/*---------------------------Sport Slider-----------------------------*/

.sports-slider-container {
  width: 80%;
  display: flex;
  margin: 5rem;
}

.sports-slider-container button {
  width: 10%;
  border: none;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.left-slider-btn {
  background-image: url('./utilities/images/arrows/slider-left-arrow.png');
}

.right-slider-btn {
  background-image: url('./utilities/images/arrows/slider-right-arrow.png');
}

.sports-slider {
  width: 80%;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.small-shop-container {
  height: 20rem;
  margin: 2rem;
  align-items: flex-end;
}


.small-shop-container span {
  color: white;
  background-color: #0f0f59;
  width: 20rem;
  padding: 1rem;
  text-align: center;
  font-size: 2.5rem;
}

.sports-slider a {
  text-decoration: none;
}

/*---------------------------Breadcrumb-----------------------------*/

.breadcrumb {
  position: absolute;
  display: flex;
  top: 4.1rem;
  left: 0;
}

.breadcrumb a {
  float: left;
  color: #fff;
  background: #0f0f59;
  text-decoration: none;
  position: relative;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-right: 15px;
  padding: 0 5px;
  box-shadow: 1px 1px 5px black;
}

.breadcrumb a::before,
.breadcrumb a::after {
  content: "";
  position: absolute;
  border-color: #0f0f59;
  border-style: solid;
  border-width: 15px 5px;
}

.breadcrumb a::after {
  left: 100%;
  border-color: transparent;
  border-left-color: #0f0f59;
}
.breadcrumb a::before {
  left: -10px;
  border-left-color: transparent;
  border-left-color: transparent;
}

/*---------------------------Filters-----------------------------*/

#filters-container {
  width: 15%;
  position: absolute;
  left: 0;
  top: 6rem;
  background-color: white;
  border: 2px solid black;
  height: fit-content;
}

#hide-show-btn {
float: right;
background-color: #fff;
border: none;
}

#filters-container h1 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
}

#filters-container fieldset {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px black;
}

#filters-container fieldset h2 {
  width: 85%;
  text-align: center;
  align-self: center;
  font-size: 1.5rem;
}

#filters-container fieldset button {
  width: 15%;
  font-size: 1.5rem;
  border: 2px solid rgb(118, 118, 118);
  border-left: none;
  border-right: none;
  line-height: 2.5rem;
  background-image: url('./utilities/images/arrows/up-arrow-notail.png');
  background-size: 2.5rem;
  background-repeat: no-repeat;
  background-position: right 90%;
}

#filters-container label {
  font-family: 'Archivo' !important;
  margin: .5rem;
}

.clear-btn {
  background-color: white !important;
  border: none !important;
  background-image: none !important;
  float: right;
}

/*---------------------------Shop-----------------------------*/

.shop-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fff;
  overflow-y: hidden;
  min-height: 80vh;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
}

/*---------------------------Product View-----------------------------*/

.product-view {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 2px 2px 5px black;
  margin: 2rem;
}

.product-view h2 {
  font-size: 1.5rem;
  line-height: 3rem;
}

.product-view a {
  text-decoration: none;
  color: #fff;
}

.product-thumbnail {
  width: 75%;
  padding: 2rem;
}

.product-view-info {
  width: 100%;
  background-color: #0f0f59;
}

.product-view p,
.product-view span,
.product-view h2 {
  font-family: 'Archivo' !important;
}

/*---------------------------Product Page-----------------------------*/

.product-page {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-img-container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.product-img-container img {
  width: 50%;
}

.product-info {
  text-align: center;
  background-color: #696969;
  color: #fff;
  width: 40%;
}

.product-info h1 {
  font-size: 5rem;
  margin: 3rem;
  text-shadow: 2px 2px 5px black;
}

.product-price {
  font-size: 2rem;
}


/*---------------------------Account-----------------------------*/

.account-background {
  background-image: url('./utilities/images/backgrounds/account-background.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

/*---------------------------UserPage-----------------------------*/

.account-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fff;
  width: 30%;
  text-align: center;
  margin: 3rem 0;
  border: solid 2px black;
  box-shadow: 2px 2px 5px black;
}

.account-container h1 {
  width: 100%;
  font-size: 3rem;
  padding: 2rem;
  background-color: #0f0f59;
  color: white;
  text-shadow: 2px 2px 5px black;
}

.user-page-form {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.user-page-form .input-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.user-page-form .input-container label {
left: 0;
}

.toggle-update-btn {
  background-color: #0f0f59;
  color: #fff;
  border: none;
  padding: .5rem;
}
 
.user-page-form .input-container input:disabled {
  font-weight: bold;
}

.user-page-form .submit-btn {
  width: 60%;
  margin: 2rem;
  margin-bottom: 0rem;
}

.user-links {
  width: 80%;
  font-size: 1.5rem;
  line-height: 3rem;
  margin: 2rem;
}

.user-links a {
  color: #0f0f59;
}

.user-links a:hover {
  color: red;
}


/*---------------------------Cart-----------------------------*/

.cart-container {
  display: flex;
  width: 100%;
}

.cart-overview,
.checkout-page {
  display: flex;
}

.cart-items-list,
.order-product-list {
  background-color: #fff;
  max-height: 90vh;
  overflow: scroll;
}

.cart-product-view,
.order-product-view {
  display: flex;
  justify-content: space-between;
  height: 10rem;
  border: solid 1px black;
  margin: 1rem
}

.cart-product-view img,
.order-product-view img {
  margin: 1rem;
}

.cart-product-info,
.order-product-info {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.cart-product-info h2,
.order-product-info h2 {
  font-size: 2rem;
  width: 80%;
}

.cart-product-price,
.order-product-price {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
  width: 15%;
}

.color-size-container {
  width: 50%;
  line-height: 2rem;
}

.order-summary-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 25%;
  background-color: #fff;
}

.order-summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #696969;
  color: white;
  width: 100%;
  padding: 5rem 0;
  line-height: 2.5rem;
}

.order-summary p {
  width: 51%;

}

.order-summary-container .submit-btn {
  margin-top: 3rem;
}

/*---------------------------Checkout-----------------------------*/

.checkout-page {
  width: 100%;
}

.checkout-forms {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/*---------------------------Shipping-----------------------------*/

.shipping {
  background-color: #fff;
  width: 35%;
}

.shipping h2,
.order-summary-container h2,
.payment h2 {
  text-align: center;
  width: 100%;
  font-size: 2.5rem;
  padding: 2rem 0;
  background-color: #0f0f59;
  color: #fff;
  text-shadow: 2px 2px 5px black;
}

#state-input {
  width: 35%;
  display: flex;
}

#state-input select {
  width: 40%;
  text-align: center;
}

#zip-input {
  width: 35%;
}

.input-container textarea {
  padding-top: 1rem;
  width: 100%;
}

.address-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slider-container {
  width: 100%;
  position: relative;
  border: solid 1px black;
  border-left: none;
  border-right: none;
}

#address-slider {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  width: 100%;
  min-height: 9rem;
  background-color: #696969;
}

#scroll-btn-left,
#scroll-btn-right {
  position: absolute;
  height: 100%;
  width: 3rem;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

#scroll-btn-left {
  background-image: url('./utilities/images/arrows/white-arrow-left.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  display: none;
}

#scroll-btn-right {
  background-image: url('./utilities/images/arrows/white-arrow-right.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  right: 0;
  top: 0;
}

.address-card,
.valid-address-card {
  background-color: #0f0f59;
  color: #fff;
  font-size: .75rem;
  max-width: 8.5rem;
  min-width: 8.5rem;
  margin: .5rem;
  padding: .5rem;
  line-height: 1.5rem;
  box-shadow: 2px 2px 5px black;
}

#address-card-0 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  border: solid 1px red;
}

.address-card:hover {
  background-color: #3e3e85;
  cursor: pointer;
}

.address-form .submit-btn:disabled {
  background-color: #535370;
  cursor: default;
}

.address-form .submit-btn:disabled:active {
  transform: none;
  box-shadow: 3px 3px 5px black;
}

.address-modal h2 {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
}

.address-modal-btns {
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.address-modal-btns button {
  background-color: #0f0f59;
  color: #fff;
  font-size: 1.25rem;
  border-radius: .5rem;
}

/*---------------------------Payment-----------------------------*/

.payment {
  width: 30%;
  background-color: #fff;
}

.payment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.StripeElement {
  width: 90%;
  margin-bottom: 1rem;
}

/*---------------------------Orders-----------------------------*/
.order-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.orders-page {
  background-color: #fff;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.orders-page h1 {
  width: 100%;
  font-size: 3rem;
  line-height: 5rem;
  text-align: center;
}

.orders-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.order-card {
  width: 80%;
  margin: 2rem 0;
  border-radius: 2rem;
}

.order-card-header {
  display: flex;
  justify-content: space-around;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background-color: #0f0f59;
  color: #fff;
  padding: 2rem;
  line-height: 2rem;
  font-weight: bold;
}

.order-header-title {
  font-size: 1.5rem;
  font-weight: normal;
  text-decoration: underline;
}

.order-card .order-product-list {
  width: 100%;
  min-height: 0;
  padding: 2rem 0;
  background-color: #696969;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.order-card .order-product-view {
  background-color: #fff;
}

/*---------------------------Order Confirmation-----------------------------*/


.order-confirmation {
  background-color: #fff;
  width: 75%;
  margin: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.order-confirmation h1 {
  width: 100%;
  background-color: #0f0f59;
  color: #fff;
  text-align: center;
  font-size: 3rem;
  line-height: 5rem;
}

.order-product-list {
  width: 50%;
  min-height: 70vh;
}

.order-product-view h2 {
  width: 70%;
}

.order-product-price {
  width: 25%;
}

.order-product-qty {
  padding: 1rem;
}

.order-info {
  width: 50%;
}

.order-shipping {
  width: 100%;
}

.order-shipping h2 {
  font-size: 2rem;
  line-height: 3rem;
}

.order-shipping-address {
  line-height: 1.5rem;
  text-decoration: underline;
  margin: 2rem;
}

.order-shipping textarea {
  margin: 2rem;
  resize: none;
}

/*---------------------------Addresses-----------------------------*/

.addresses {
  background-color: #fff;
  width: 75%;
}

/*---------------------------Modals-----------------------------*/

#alert-modal-p {
  font-family: 'Archivo' !important;
  text-align: center;
  margin: 1rem 0rem;
  width: 100%;
}

#logged-in-modal-p {
  margin-top: 12rem;
}

#no-user-modal-p {
  font-size: 2rem;
  padding: 4rem 0;
  text-align: center;
  width: 100%;
}

#no-user-modal-btn {
  font-size: 2rem;
  padding: .5rem 2rem;
}

#delete-user-modal-p {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  margin: 2rem;
}

#delete-user-modal-btn {
  font-size: 1.5rem;
  margin:0 2rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

/*---------------------------Footer-----------------------------*/
footer {
  display: flex !important;
  background-color: #0f0f59;
  width: 100%;
  position: relative;
  bottom: 0;
  border-top: 3px solid rgba(0, 0, 0, 0.596) !important;
  border-top-style: inset;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 15%;
  line-height: 3rem;
  margin: 4rem 5rem;
}

footer h4 {
  color: white;
  font-size: 3rem;
  width: 100%;
  margin-bottom: 2rem;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: red;
}

#socials-header {
  text-align: center;
}

.socials-container {
  display: flex;
  justify-content: space-between;
}

.social-logo {
  width: 20%;
  margin: 0 1rem;
}

.copywrite {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  color: rgba(189, 187, 187, 0.74);
}